<footer>
    <div class="f-info">
        <div class="f-socials ">
            <a ref="/"><i class="fa-brands fa-facebook"></i></a> &nbsp; &nbsp;
             <a ref="/"><i class="fa-brands fa-instagram"></i></a> &nbsp; &nbsp;
             <a ref="/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; WanderLust-Private-limitaed
        </div>
        <div class="f-info-links">
            <a href="/privecy">Privacy</a> &nbsp; &nbsp;
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>